@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 1150px;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.header {
  height: 100px;
}

.header img {
  width: 60px;
  display: inline-block;
  padding-top: 8px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header ul {
  font-size: 11px;
  font-weight: 700;
}

.header ul li {
  padding-left: 20px;
}

.header ul .current {
  color: #0282f9;
}

.header ul .current::after {
  content: "";
  border-bottom: 2px solid #0282f9;
  margin: 0 auto;
  display: block;
}

.top-jumbotron {
  height: 300px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  background-color: #1c1c1c;
  color: white;
}

.main-content .container {
  text-align: center;
  position: relative;
}

.main-content .series-list {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0;
  position: relative;
  text-align: left;
}

.main-content .current-series {
  position: absolute;
  padding: 10px 25px;
  font-size: 20px;
  top: -23px;
  left: -20px;
}

.main-content .btn {
  background-color: #0282f9;
  border: none;
  color: white;
  font-weight: 700;
}

.main-content button {
  padding: 10px 50px;
  font-size: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}

.card {
  margin: 20px 0;
  width: calc(16.6666666667% - 20px);
}

.card .image {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 15px;
  aspect-ratio: 1/1;
}

.card .thumb-title {
  font-size: 11.5px;
}

.card .thumb-title span {
  text-transform: uppercase;
  font-weight: 300;
}

.main-icons {
  height: 150px;
  background-color: #0282f9;
  color: white;
}

.main-icons .small-container {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.main-icons img {
  width: 35px;
}

.main-icons .icon-name {
  font-size: 11px;
  font-weight: 300;
  padding-left: 10px;
}

.main-icons a {
  align-items: center;
}

