// Reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Commons
li {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 1150px;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}