.header {
    height: 100px;

    img {
        width: 60px;
        display: inline-block;
        padding-top: 8px;
    }

    .container {
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    ul {
        font-size: 11px;
        font-weight: 700;
    
        li {
            padding-left: 20px;
        }
    
        .current{
        color: $mainColor;
        }
    
        .current::after {
            content: "";
            border-bottom: 2px solid $mainColor;
            margin: 0 auto;
            display: block;
        }
    }
}