.main-icons {
    height: 150px;
    background-color: $mainColor;
    color: $mainFontColor;

    .small-container {
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;
    }
    img {
        width: 35px;
    }

    .icon-name {
        font-size: 11px;
        font-weight: 300;
        padding-left: 10px;
    }
    a {
        align-items: center;
    }
}