.product-details {

    .top-layer {
        height: 80px;
        background-color: $mainColor;
    }

    .small-container {
        position: relative;
        padding: 70px 0;
        justify-content: space-between;

        .thumb {
            img {
                width: 150px;
                position: absolute;
                top: -250px;
                left: 0;
            }
        }

        .details {
            margin-right: 30px;
            width: 65%;

            .title {
                color: $detailsTitle;
                font-size: 30px;
                font-weight: 700;
            }

            .price-avalaibility {
                margin: 25px 0;
                font-size: 14px;
                background-color: $avalaibilityBg;
                box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.757);

                .price-detail {
                    align-items: center;
                    width: 65%;
                    padding: 14px 40px;
                    font-weight: 700;
                    color: $avalaibilityText;
                    width:70%;
                    justify-content: space-between;
                    border-right: 1px solid rgba(0, 0, 0, 0.757);

                    .price {
                        color: $mainFontColor;
                    }
                }

                .cta-avalaibility {
                    width: 35%;
                    text-align: center;
                    color: $mainFontColor;
                    cursor: pointer;
                    padding: 14px 30px;

                    .chevron-down {
                        font-size: 8px;
                    }
                }
            }

            .description {
                line-height: 20px;
                font-size: 12px;
            }
        }

        .advertisement {
            width: 35%;
        }
    }

}

.product-specs {
    background-color: $detailsSpecsBg;
    border-top: 1px solid $detailsSpecsIcons;
    border-bottom: 1px solid $detailsSpecsIcons;
    padding-top: 30px;
    
    & > .small-container {
        justify-content: space-between;
        padding-bottom: 90px;

        .talent {
            width: 50%;
            margin-right: 50px;

            & > .title {
                padding-bottom: 20px;
                border-bottom: 1px solid $detailsSpecsIcons;
            }
        }

        .specs {
            width: 50%;

            & > .title {
                padding-bottom: 20px;
                border-bottom: 1px solid $detailsSpecsIcons;
            }
        }

        .categories {
            font-size: 11px;
            padding: 13px 0;
            border-bottom: 1px solid $detailsSpecsIcons;

            .title {
                width: 30%;
            }
            .content {
                width: 70%;
                
                a {
                    color: $detailLink;
                }
            }
        }
    }

    .merchandising {
        border-top: 1px solid $detailsSpecsIcons;

        img {
            height: 30px;
            width: auto;
        }

        ul {
            justify-content: space-between;

            li:last-child {
                border-right: 1px solid $detailsSpecsIcons;
            }
            
            li {
                width: 100%;
                padding: 15px;
                border-left: 1px solid $detailsSpecsIcons;

                a {
                    justify-content: space-between;

                    span {
                        color: $detailsSpecsIconsText;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}



// border-bottom: 1px solid $detailsSpecsIcons;