// Main light color
$mainColor: #0282f9;

// Main dark color
$secondColor: #1c1c1c;

// Main Font Color
$mainFontColor: white;

// Footer Font Color
$footerFontColor: #959595;

// Footer background color
$footerBgColor: #303030;

// Avalaibility 
$avalaibilityBg: #55ba59;
$avalaibilityText: #bafd93;


// Details Color
$detailsTitle: #003f5e;